@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
.ar-word{
  font-family: 'Droid Arabic Naskh', serif;
  font-size: 25px;
}

.app_box{
  font-size: 30px;
}

.highlight::after {
    content: url(img/checkmark.gif);
}

.hideWords {
	display: none;
}