@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
.ar_word{
  font-family: 'Droid Arabic Naskh', serif;
}

.app_box{
  font-size: 30px;
}

.highlight::after {
    content: url(img/checkmark.gif);
}
